
.app{
    display: flex;
    justify-content: center;

    @mixin sp-layout {
        @media screen and (max-width: 750px) {
        @content;
      }
   }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -100;
      min-height: 100vh;
      background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
      overflow: hidden;
    }

    @function random_range($min, $max) {
      $rand: random();
      $random_range: $min + floor($rand * (($max - $min) + 1));
      @return $random_range;
    }

    .stars {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -100;
      height: 120%;
      transform: rotate(-45deg);
    }

    .star {
      $star-count: 50;
      --star-color: white;
      --star-tail-length: 6em;
      --star-tail-height: 2px;
      --star-width: calc(var(--star-tail-length) / 6);
      --fall-duration: 9s;
      --tail-fade-duration: var(--fall-duration);

      position: absolute;
      z-index: -100;
      top: var(--top-offset);
      left: 0;
      width: var(--star-tail-length);
      height: var(--star-tail-height);
      color: var(--star-color);
      background: linear-gradient(45deg, currentColor, transparent);
      border-radius: 50%;
      filter: drop-shadow(0 0 6px currentColor);
      transform: translate3d(104em, 0, 0);
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
      
      @include sp-layout {
        // For mobile performance, tail-fade animation will be removed QAQ
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
      }

      @for $i from 1 through $star-count {
        &:nth-child(#{$i}) {
          --star-tail-length: #{random_range(500em, 750em) / 100};
          --top-offset: #{random_range(0vh, 10000vh) / 100};
          --fall-duration: #{random_range(6000, 12000s) / 1000};
          --fall-delay: #{random_range(0, 10000s) / 1000};
        }
      }

      &::before, &::after {
        position: absolute;
        content: '';
        top: 0;
        left: calc(var(--star-width) / -2);
        width: var(--star-width);
        height: 100%;
        z-index: -100;
        background: linear-gradient(45deg, transparent, currentColor, transparent);
        border-radius: inherit;
        animation: blink 2s linear infinite;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    @keyframes fall {
      to {
        transform: translate3d(-30em, 0, 0);
      }
    }

    @keyframes tail-fade {
      0%, 50% {
        width: var(--star-tail-length);
        z-index: -100;
        opacity: 1;
      }

      70%, 80% {
        width: 0;
        z-index: -100;
        opacity: 0.4;
      }

      100% {
        width: 0;
        z-index: -100;
        opacity: 0;
      }
    }   

    @keyframes blink {
      50% {
        opacity: 0.6;
        z-index: -100;
      }
    }

  .container{
    margin-right: auto;
    width: 100%;
        
        // HOME PAGE
        .home{
            margin-top: 50px;           
            height:max-content;
            display: flex;
            flex-direction: column;
            
            h1{
                display: flex;
                justify-content: center; 
                color: white;
            }

            p{
                display: flex;
                justify-content: center;
                color: white; 
            }

            .laptop{
                display: flex;
                justify-content: center;
                button{
                    margin-top: 25px;
                    width: 175px;
                    padding: 10px 20px;
                    cursor: pointer;
                    background-color: white;
                    border: 1px solid teal;
                    color: teal;
                    padding: 1rem;
                    font-size: 1rem;
                    border-radius: 0.25rem;
                    transition: all 0.3s ease-out; 
                    box-shadow: none;

                    &:hover{
                        border: 1px solid white;
                        background-color: lightblue;
                        color: black;
                        transform: scale(1.1); 
                        box-shadow: 0 0 10px #0057a8, 0 0 20px #0057a8, 0 0 30px #0057a8;
                    }
                }
            }

            .telephone{
                display: flex;
                justify-content: center;
                button{  
                    margin-top: 20px;
                    width: 175px;
                    padding: 10px 20px;
                    cursor: pointer;
                    background-color: white;
                    border: 1px solid teal;
                    color: teal;
                    padding: 1rem;
                    font-size: 1rem;
                    border-radius: 0.25rem;
                    transition: all 0.3s ease-out;
                    box-shadow: none; 

                    &:hover{
                        border: 1px solid white;
                        background-color: lightblue;
                        color: black;
                        transform: scale(1.1); 
                        box-shadow: 0 0 10px #0057a8, 0 0 20px #0057a8, 0 0 30px #0057a8;
                    }
                }
            }
        }
        
        // HEADER 

        .header{
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 0rem;
            background-color: black;
            img{     
                margin-top: 10px;  
                height: 100px;
                width: 250px;
                cursor: pointer;
                border-radius: 0.25rem;
                transition: all 0.3s ease-out;

                &:hover{
                    transform: scale(1.1);
                }
            }
        }

        // TRANSFER/SINGLE PAGE 

        .single{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
            h1{
                display: flex;
                justify-content: center;
                color:white;
            }

            .displayCode{
                display: flex;
                flex-direction: column;
                input{
                    
                }

                button{
                    display: none;
                }
            }

            .fileDrop{
                

                h1{
                
                  width: 200px;
                  height: 100px;
                  background-color: red;
                  border: 2px solid black;
                  
                }
            }
            
        }

    }
}